@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
    .font-grotesk {
        font-family: var(--font-bdo-grotesk), system-ui, sans-serif;
    }
}

@theme {
    --breakpoint-tablet: 50.625rem;
    --breakpoint-laptop: 75rem;
    --breakpoint-desktop: 90rem;
}

@layer components {
    .hero-bg {
        background-image: url('/heroSection.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        transform: scale(1);
    }

    @media (max-width: 640px) {
        .hero-bg {
            background-position: center center;
            transform: scale(1.2);
            opacity: 0.85;
        }
    }
}


.marquee-right {
    width: 100%;
    overflow: hidden;
}

.marquee-right__inner {
    display: flex;
    gap: 2rem;
    width: max-content;
    animation: marquee-right 15s linear infinite;
}

@media (min-width: 1300px) {
    .marquee-right__inner {
        animation: none;
        transform: translateX(0);
        width: 100%;
        justify-content: space-between;
    }
}

/*.marquee-right__inner span {*/
/*    white-space: nowrap;*/
/*}*/

@keyframes marquee-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

@layer components {
    .use-case-bg {
        background-image: url('/useCases.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        transform: scale(1);
    }

    @media (max-width: 640px) {
        .use-case-bg {
            background-position: center center;
            transform: scale(1.2);
            opacity: 0.85;
        }
    }
}



